<div class="container" *ngIf="tabAdmin.length">
    <div class="screen">
        <div class="screen__content">
            <form class="login">
                <div class="login__field">
                    <i class="login__icon fas fa-user"></i>
                    <input type="text" class="login__input" placeholder="Adresse email" name="email" [(ngModel)]="email">
                </div>
                <div class="login__field">
                    <i class="login__icon fas fa-lock"></i>
                    <input type="password" class="login__input" placeholder="Mot de passe" name="password" [(ngModel)]="password">
                </div>
                <button class="button login__submit" (click)="connexion()">
                    <span class="button__text">Se connecter</span>
                    <i class="button__icon fas fa-chevron-right" style="color:#0594D0"></i>
                </button>
            </form>
        </div>
        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>
    </div>
</div>

<!-- inscription -->
 <div class="container" *ngIf="!tabAdmin.length" > 
    <div class="screen">
        <div class="screen__content">
            <form class="register" (ngSubmit)="onAdminRegistration()" >
                <div class="login__field">
                    <i class="login__icon fas fa-user"></i>
                    <input type="text" class="login__input" placeholder="Nom" name="nom" [(ngModel)]="nom">
                </div>
                <div class="login__field">
                    <i class="login__icon fas fa-user"></i>
                    <input type="text" class="login__input" placeholder="prenom" name="prenom" [(ngModel)]="prenom">
                </div>
                <div class="login__field">
                    <i class="login__icon fas fa-user"></i>
                    <input type="text" class="login__input" placeholder="Adresse email" name="email" [(ngModel)]="email">
                </div>
                <div class="login__field">
                    <i class="login__icon fas fa-lock"></i>
                    <input type="password" class="login__input" placeholder="Mot de passe" name="password" [(ngModel)]="password">
                </div>
                <button class="button login__submit">
                    <span class="button__text" (click)="inscription();showForm()">S'incrire</span>
                    <i class="button__icon fas fa-chevron-right" style="color:#0594D0"></i>
                </button>
            </form>
        </div>
        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>
    </div>
</div> 

