<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard Prof</title>
</head>

<body>

<div class="container-scroller">
    <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar" style="height: 650px;">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
            <a class="sidebar-brand brand-logo text-white" href="index.html" style="font-weight: bold; font-size: 1.6em;">G6 ACADEMY</a>
            <a class="sidebar-brand brand-logo-mini" href="index.html">G6</a>
        </div>
        <ul class="nav">
            <li class="nav-item profile">
                <div class="profile-desc">
                    <div class="profile-pic">
                        <div class="count-indicator">
                            <img class="img-xs rounded-circle " src="assets/images/faces/face15.jpg" alt="">
                            <span class="count bg-success"></span>
                        </div>
                        <div class="profile-name">
                            <h5 class="mb-0 font-weight-normal">Dieyna Coly</h5>

                        </div>
                    </div>

                </div>
            </li>
            <li class="nav-item nav-category">
                <span class="nav-link">Navigation</span>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="index.html">
                    <span class="menu-icon">
                        <i class="mdi mdi-laptop text-white"></i>
                    </span>
                    <span class="menu-title">Dashboard Professeur</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false"
                    aria-controls="ui-basic">
                    <span class="menu-icon">
                        <i class="mdi mdi-laptop text-white"></i>
                    </span>
                    <span class="menu-title">Gestion evaluation</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-basic">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item" [routerLink]="['/evaluation']"> liste des
                                evaluations</li>
                    </ul>
                </div>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" data-toggle="collapse" href="#ui-basics" aria-expanded="false"
                    aria-controls="ui-basic">
                    <span class="menu-icon">
                        <i class="mdi mdi-laptop text-white"></i>
                    </span>
                    <span class="menu-title">Gestion notes</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-basics">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item" [routerLink]="['/maintenance']"> liste des
                            notes</li>
                    </ul>
                </div>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="pages/tables/basic-table.html">
                    <span class="menu-icon">
                        <i class="mdi mdi-table-large text-white"></i>
                    </span>
                    <span class="menu-title" [routerLink]="['/maintenance']">Liste classe</span>
                </a>
            </li>

        </ul>
    </nav>

    <nav class="navbar p-0 fixed-top d-flex flex-row">
        <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
            <a class="navbar-brand brand-logo-mini text-white"  href="index.html" style="font-size: 30px;">G6</a>
        </div>
        <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button"
                data-toggle="minimize">
                <span class="mdi mdi-menu" style="font-size: 2.5em;"></span>
            </button>
            <ul class="navbar-nav w-100">
                <li class="nav-item w-100">
                    <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search" id="search">
                        <input type="text" class="form-control" placeholder="Rechercher" name="search" [(ngModel)]="filterValue">
                    </form>
                </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right">



                <li class="nav-item dropdown border-left">
                    <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#"
                        data-toggle="dropdown">
                        <i class="mdi mdi-bell"></i>
                        <span class="count bg-danger"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                        aria-labelledby="notificationDropdown">
                        <h6 class="p-3 mb-0">Notifications</h6>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <div class="preview-icon bg-dark rounded-circle">
                                    <i class="mdi mdi-calendar text-success"></i>
                                </div>
                            </div>
                            <div class="preview-item-content">
                                <p class="preview-subject mb-1">Event today</p>
                                <p class="text-muted ellipsis mb-0"> Just a reminder that you have an event
                                    today </p>
                            </div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <div class="preview-icon bg-dark rounded-circle">
                                    <i class="mdi mdi-settings text-danger"></i>
                                </div>
                            </div>
                            <div class="preview-item-content">
                                <p class="preview-subject mb-1">Settings</p>
                                <p class="text-muted ellipsis mb-0"> Update dashboard </p>
                            </div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <div class="preview-icon bg-dark rounded-circle">
                                    <i class="mdi mdi-link-variant text-warning"></i>
                                </div>
                            </div>
                            <div class="preview-item-content">
                                <p class="preview-subject mb-1">Launch Admin</p>
                                <p class="text-muted ellipsis mb-0"> New admin wow! </p>
                            </div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <p class="p-3 mb-0 text-center">See all notifications</p>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                        <div class="navbar-profile">
                            <img class="img-xs rounded-circle" src="assets/images/faces/face15.jpg" alt="">
                            <p class="mb-0 d-none d-sm-block navbar-profile-name">Henry Klein</p>
                            <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                        aria-labelledby="profileDropdown">
                        <h6 class="p-3 mb-0">Profil</h6>
                        <div class="dropdown-divider"></div>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <div class="preview-icon bg-dark rounded-circle">
                                    <i class="mdi mdi-logout text-danger"></i>
                                </div>
                            </div>
                            <div class="preview-item-content">
                                <p class="preview-subject mb-1" [routerLink]="['/auth']">Se deconnecter</p>
                            </div>
                        </a>

                    </div>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                data-toggle="offcanvas">
                <span class="mdi mdi-format-line-spacing"></span>
            </button>
        </div>
    </nav>

    <div class="listeval container mt-5 " style="margin: 0 auto;">
        <div >
            <h3 class="text-dark mt-5 text-center" >{{typeEval}} de {{matiere}}  du  {{date  |date: "dd/MM/yyyy"}} de la {{classe}}</h3>

        </div>

          <!-- Button trigger modal -->
          <button type="button" class="btn boutonajout text-end " (click)="enregisterNote(); switchListe()">
           Enregistrer
     </button>
        <div class="row mt-3" *ngIf="showListe">
           <div class="col-12 grid-margin">
               <div class="card ">
                   <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <h2 class="card-title text-dark text-center mt-2">Liste des Notes</h2>
                            <div class="confidentialite-form ml-3 mb-4">g</div>
                        </div>
                       <div class="table-responsive" style="color: black;">

                           <table class="table" style="color: black;" >
                               <thead style="color: black;">
                                   <tr style="background-color: #ce6a6b; ">

                                       <th style="color: white;"> Nom </th>
                                       <th style="color: white;"> Prenom </th>
                                       <th style="color: white;"> Classe</th>
                                       <th style="color: white;"> Année </th>
                                       <th style="color: white;"> Date </th>
                                       <th style="color: white;"> Note </th>
                                   </tr>
                               </thead>

                               <tbody *ngFor="let userNote of  tabAdminApprenant ; let i = index">
                                   <tr *ngIf="userNote.classe==classe">
                                        <td> {{userNote.nom}} </td>
                                        <td> {{userNote.prenom}} </td>
                                        <td> {{userNote.classe}} </td>
                                        <td> {{userNote.annee}} </td>
                                        <td> {{userNote.dateNaiss}} </td>
                                        <td>
                                          <form>
                                         <input type="text" name="note" [(ngModel)]="tabAdminApprenant[i].note" *ngIf="tabAdminApprenant[i].note >= 0 && tabAdminApprenant[i].note <= 20" style="width:50px">
                                       </form>
                                      </td>


                                       </tr>
                               </tbody>
                           </table>
                       </div>
                   </div>
               </div>
           </div>
       </div>
        <div class="row mt-3" *ngIf="!showListe">
           <div class="col-12 grid-margin">
               <div class="card ">
                   <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <h2 class="card-title text-dark text-center mt-2">Liste des Notes</h2>
                            <div class="confidentialite-form ml-3 mb-4">g</div>
                        </div>
                       <div class="table-responsive" style="color: black;">

                           <table class="table" style="color: black;" >
                               <thead style="color: black;">
                                   <tr style="background-color: #ce6a6b; ">

                                       <th style="color: white;"> Nom </th>
                                       <th style="color: white;"> Prenom </th>
                                       <th style="color: white;"> Classe</th>
                                       <th style="color: white;"> Année </th>
                                       <th style="color: white;"> Date </th>
                                       <th style="color: white;"> Note </th>
                                   </tr>
                               </thead>

                               <tbody *ngFor="let userNote of  tabAdminApprenant ; let i = index">
                                   <tr *ngIf="userNote.classe==classe">
                                        <td> {{userNote.nom}} </td>
                                        <td> {{userNote.prenom}} </td>
                                        <td> {{userNote.classe}} </td>
                                        <td> {{userNote.annee}} </td>
                                        <td> {{userNote.dateNaiss}} </td>
                                        <td>
                                         {{userNote.note}}
                                      </td>


                                       </tr>
                               </tbody>
                           </table>
                       </div>
                   </div>
               </div>
           </div>
       </div>

    </div>
</div>



  <!-- Modal pour modifier une note-->
  <div class="modal fade " id="modifierModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content bg-white">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-dark" id="exampleModalLabel" >Modifier la note</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="formulaire d-block">
                    <label class="text-dark">Apprenants:</label>
                    <select class="form-select" name="Apprenants" aria-label="Default select example" class="w-100 mb-3 h-2" [(ngModel)]="apprenant">
                        <option value="Marie Laure COLY">Marie Laure COLY</option>
                        <option value="Dieynaba COLY">Dieynaba COLY</option>
                        <option value="Lobe Guilel DIA">Lobe Guilel DIA</option>
                      </select>
                    <label class="text-dark">Matieres:</label>
                    <select class="form-select" name="mat" aria-label="Default select example" class="w-100 mb-3 h-2" [(ngModel)]="matiere">
                        <option value="Mathematiques">Mathematiques</option>
                        <option value="Physique">Physique</option>
                        <option value="Francais">Francais</option>
                        <option value="Francais">SVT</option>
                      </select>

                    <label  class="text-dark">Type d'evaluation:</label>
                    <select class="form-select" name="type" aria-label="Default select example" class="w-100 mb-3" [(ngModel)]="typeEval">
                        <option value="Devoir">Devoir</option>
                        <option value="Examen">Examen</option>
                      </select>
                    <label  class="text-dark">Semestre:</label>
                    <select class="form-select" name="sem" aria-label="Default select example" class="w-100 mb-3" [(ngModel)]="semestre">
                        <option  value="Semestre 1">Semestre 1</option>
                        <option value="Semestre 2">Semestre 2</option>
                      </select>

                    <label class="text-dark">Annee Scolaire:</label>
                    <select class="form-select" name="annee" aria-label="Default select example" class="w-100 mb-3" [(ngModel)]="scolaire">
                        <option value="2022/2023">2022/2023</option>
                        <option value="2023/2024">2023/2024</option>
                      </select>
                      <label class="text-dark">Classe:</label>
                      <select class="form-select" name="classe" aria-label="Default select example" class="w-100 mb-3" [(ngModel)]="classe">
                          <option value="6e">6e</option>
                          <option value="5e">5e</option>
                          <option value="4e">4e</option>
                          <option value="3e">3e</option>
                        </select>
                </div>
                <div class="">
                    <label  class="text-dark">Note :</label>
                    <input type="number" name="note" [(ngModel)]="note">
                </div>

                <div class="mb-3">
                  <label for="dateInput" class="form-label text-dark date">Date:</label>
                  <input type="date" name="date" class="form-control" id="dateInput" aria-describedby="emailHelp" placeholder="Date de l'evaluation" [(ngModel)]="date">
                </div>

              </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="modifier()">Ajouter</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        </div>
      </div>
    </div>
  </div>

</body>

</html>

